%br

.row
  .col-lg-3
    .panel.panel-default
      .panel-heading
        %h4 Certifications
      .panel-body
        %ul.nav.nav-pills.nav-stacked
          %li

          %li.active{role: "presentation"}
            =link_to "CERT-01", "#"
          %li{role: "presentation"}
            =link_to "CERT-02", "#"

  .col-lg-6
    .panel.panel-default
      .panel-body
        Icons
    .panel.panel-default
      .panel-body
        %ul.nav.nav-pills
          %li.active{role: "presentation"}
            =link_to "Work", "#"
          %li{role: "presentation"}
            =link_to "Plan", "#"
        %br
        %table.table.table-striped
          %tr
            %th{:width => "250px;"} Title
            %th{:width => "150px;"} Category
            %th{:width => "100px;"} Owner
            %th{:width => "120px;"} Publish date
          %tr
            %td Move Titel 1
            %td Mama 1
            %td EKo
            %td 12 Dez

          %tr
            %td Move Titel 2
            %td Mama 1
            %td EKo
            %td 12 Dez

          %tr
            %td Move Titel 3
            %td Mama 1
            %td EKo
            %td 12 Dez

  .col-lg-3
    .panel.panel-default
      .panel-heading
        %h4 My Team
      .panel-body
        %ul.nav.nav-pills.nav-stacked
          %li

          %li.active{role: "presentation"}
            =link_to "Eko", "#"
          %li{role: "presentation"}
            =link_to "Regina", "#"

