%h3 Moves
%table.table.table-striped
  %tr
    %th{:width => "250px;"} Title
    %th{:width => "150px;"} Category
    %th{:width => "100px;"} Owner
    %th{:width => "120px;"} Publish date
  %tr
    %td Move Titel 1
    %td Mama 1
    %td EKo
    %td 12 Dez

  %tr
    %td Move Titel 2
    %td Mama 1
    %td EKo
    %td 12 Dez

  %tr
    %td Move Titel 3
    %td Mama 1
    %td EKo
    %td 12 Dez

